<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <img src="images/logo-kde-india.png"/> conf.kde.in 2016
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>conf.kde.in has become a tradition for the Indian FOSS scene. Each year brings a new story, a new adventure, and a whole new bunch of members who get introduced to the open source culture and the KDE Community. conf.kde.in has a unique approach: it focuses on students and teachers, and aims to highlight the opportunities and the alternatives that Free and Open Source Software offers to budding engineers. conf.kde.in has traditionally been organized in engineering colleges - from its first successful venture in 2011 at the R.V. College of Engineering in Bangalore, followed by meetups at the Dhirubhai Ambani Institute of Information and Communication Technology in Gandhinagar in 2013 and 2014, and the Amrita University, Amritapuri in 2015.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>We also had a chance to hear Anu Mittal talking about contributing to Season of KDE, and Boudhyan Gupta’s story about becoming a maintainer of Spectacle. The first day of the conference ended with a talk by Aditya Dev Sharma called "Hands on PMC and My SoK Experience". Aditya talked about Plasma Media Center and his journey to becoming a KDE contributor. The second day began with a keynote by Timothee Giet, who presented Krita and demonstrated its features and possibilities. The following talk was by Bhushan Shah, who spoke about mentoring programs with KDE and the Google Summer of Code (GsoC) program. Rajdeep Kaur explained how to contribute an activity to GCompris in her talk "GCompris In-Built Features", while Boudhayan Gupta talked about his DevOps experience in maintaining KDE infrastructure.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>The 2016 session of conf.kde.in welcomed between 200 and 300 students. Attendees possessed varying levels of coding expertise and experience with FOSS, but they all got a chance to explore an alternative way of interacting with their computers, their software and their operating systems. conf.kde.in also provided them with an engaging way of learning to code and - more importantly - learning to code for a cause and change. The event was made special by the fact that it was the 10th anniversary of the conference. This all took place in Jaipur - the Pink City of India and the royal capital of Rajasthan - from the 5th to the 6th of March at the LNM Institute of Information Technology. LNMIIT has a thousand students from all over the country pursuing their undergraduate degrees in Computer Science. A group of those students was responsible for organizing the conference. It was wonderful to see a student-driven effort by the LNMIIT-FOSS club to increase awareness among their peers and show them what KDE is all about. It was also wonderful to note the enthusiasm among teachers at the university who agreed that participation in FOSS communities should be included in their course curriculum.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/confkdein1.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>conf.kde.in 2016</h3>
                                    <p>A watchful audience</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/confkdein1.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/confkdein2.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>conf.kde.in 2016</h3>
                                    <p>Boosting KDE Indian contributions since 2011</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/confkdein2.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>The lunch break was followed by Sanjiban Bairagya's story on contributing to Marble as part of GSoC. Garvit Khatri presented another GSoC success in his talk on integrating Cantor with LabPlot. Ashish Bansal introduced us to KDE Connect, while Rishabh and Siddesh talked about Gcompris features they’re working on. Many attendees showed a spark of curiosity and an honest desire to explore KDE software. Quite a few flaunted fresh KDE Plasma installations on their laptops and stayed late in the labs, hounding the speakers with questions. Students who had previously been involved with the Wikimedia, Ubuntu, and Python communities now showed an interest in the KDE Community, and were delighted by its welcoming nature. Initiatives like conf.kde.in are essential in attracting new members to the KDE Community. More than 1 million engineers are educated in India every year, and they are all taught introductory-level coding in C and Python in their first year of college. Even a small fraction of this massive potential in human resources can be extremely valuable to a community like KDE, which can use all the helping hands it can get.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>The event started with an offbeat keynote by Parag Nemade, who spoke about the importance of software packaging. By packaging their software, the students can attract more users and contributors to their project as it becomes widely available. The keynote was followed by Pradeepto's talk on how KDE India was formed and how it has progressed over the last 10 years. Varun Joshi's talk covered an introduction to contributing to KDE. After lunch, we heard an interesting talk by Bruno Coudoin on challenges and methods of porting GCompris to Qt.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
