<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="http://gcompris.net" target="_blank"><img src="images/gcompris-logo.png"/></a> GCompris
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>GCompris is a completely free educational software suite made up of many individual packages that cover various activities. With GCompris, users can learn about the inner workings of a computer; practice using the mouse and keyboard; do exercises in reading, writing, foreign languages, and algebra; play memory and logic games; perform scientific experiments; and more.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>As a project, GCompris has been a regular participant of Google Summer of Code, Season of KDE, and Google Code-in under KDE. In 2016, GCompris added some new activities like Crane, Draw Numbers, Draw Letters, and more. The core part of the project and support for different platforms were also upgraded.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/gcompris-activities.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>GCompris</h3>
                                    <p>New Activities</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/gcompris-activities.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Documentation was updated, and there were many small improvements and bugfixes, like restoring the window size at startup and adding an internal dataset for wordgames. After 16 years of continuous development on GCompris, Bruno Coudoin stepped down as the commercial representative of the project, and was succeeded by Timothée Giet, a graphic artist and long-time contributor to the KDE Community. Timothée updated the GCompris logo, as well as images for Chess, Hangman, and horizontal/vertical reading activities. GCompris now fully supports 17 languages: Belarusian, British English, Brazilian Portuguese, Catalan, Valencian, Simplified Chinese, Dutch, French, Galician, Italian, Norwegian Nynorsk, Polish, Portuguese, Romanian, Spanish, Swedish, and Ukrainian, along with partial support for a handful more.  </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
