<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    In many of my talks I mention the quote "Many small people, in many small places, do many small things, that will change the face of the world." KDE is a community of many diverse people, that do an amazing work all around the world for software freedom for many years, that will result in a society in which users are empower to control technology. A big thank you to all people involved in KDE!"
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Matthias Kirschner - President of Free Software Foundation Europe</i>
    </p>
  </div>
</blockquote>

<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    enioka Haute Couture feels kinship towards the KDE community, as we are driven by more than a few common core values. Thus, after receiving so much from the open source world and KDE in particular, we are extremely happy to be able to support them in turn."
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Marc-Antoine Gouillart, CTO at enioka Haute Couture</i>
    </p>
  </div>
</blockquote>

<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    Together with KDE we were able to make our LiMux 6.0 release enterprise ready and deploy it to over 10.000 Clients. We are very grateful that the KDE community helps us for several years. Bringing more work upstream, so other users can benefit from it, was important for us."
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Tobias Fischbach, Project LiMux, City of Munich</i>
    </p>
  </div>
</blockquote>
    
<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    Both the KDE and the LibreOffice community share the same goals and approaches towards software freedom. Many LibreOffice developers gratefully rely on projects from the KDE environment for their day-to-day work, and also contribute to KDE by improving the behaviour of LibreOffice within the KDE environment. The Document Foundation, which is hosting the LibreOffice project, is most happy to see that sort of collaboration and synergies happening, as it plays to the true strengths of Free Software."
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Thorsten Behrens, Director, Member of the Board, The Document Foundation</i>
    </p>
  </div>
</blockquote>
