<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/kdeconnect.png" /> <a href="https://kde.org/applications/system/org.kde.kdeconnect">KDE Connect</a> Sprint, March 2018, Barcelona</h2>
                    <h5>By Albert Vaca</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                                <img width="100%" src="images/sprints/kde_connectphoto5785146289028181435_cropped.jpg" alt=""/>
                            </figure>
                            <p>Between the 23rd and 25th of March 2018, <a href="https://kde.org/applications/system/org.kde.kdeconnect">KDE Connect</a> developers gathered in Verse's offices in Barcelona to work together for a weekend. It was the first meeting KDE Connect had in a while, and it was very productive!</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>We kicked off the sprint by going through our backlog of ideas to decide what was worth implementing. That helped us set the focus for the sprint and resume some blocked tasks.</p>

                            <p>One of the most requested features for KDE Connect is the ability to send SMS from the desktop. We already supported SMS to a certain degree, but some crucial features such as conversation history were not yet there. During the sprint, Simon and Aleix started working on a fully-featured interface for sending SMS easily from the desktop that includes full conversation views and a full contact list.</p>

                            <p>Aleix and Nico polished the Run Commands interface to make it more discoverable, so that we can easily configure KDE Connect to do anything we want.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <center style="margin: 1ex">
                                <iframe width="800" height="447" sandbox="allow-same-origin allow-scripts" src="https://peertube.mastodon.host/videos/embed/7b80ca05-c0a5-40d5-828e-22eeb30ccdd3" frameborder="0" allowfullscreen>
                                </iframe>
                            </center>
                        </div>
                    </div>
                </div>                            
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <p>Matthijs improved the functionality of multimedia controls, making it possible to display the album art from the desktop on users' Android devices (both on the lock screen and in the new multimedia notification). Meanwhile, Aleix and Nico started paving the way towards better integration with PulseAudio control, sharing some code between KDE Connect and the Plasma volume control.</p>
                            
                            <!--
                            <figure class="image-right">
                                <img  src="images/sprints/kdeconnectmediaplayer.png" alt=""/>
                                <figcaption>We had a look at hard, cold data to try and figure out the effect of Promo activities on uptake, community growth, etc..</figcaption>
                            </figure>
                            -->
                        
                            <p>A less visible but crucial part of what makes KDE Connect so useful is its integration with the system. Albert Vaca worked on a KDE Connect plugin for Nautilus, so people who don't use Plasma and Dolphin can also have a great user experience.</p>

                            <p>Another very important but often-overlooked task is documentation. Matthijs invested some time in improving the onboarding process for new contributors.</p>

                            <p>Last but not least, we fixed some ugly bugs during this sprint. Albert Astals fixed a long-standing crash in KIO, the KDE Framework used by KDE Connect for transferring files. Simon and Albert Vaca took care of some compatibility problems with Android Oreo, while Matthijs fixed a connectivity issue and even made some progress on Bluetooth support.</p>

                            <p>All in all, the sprint was a pleasant event. It was nice to meet the developers working on KDE Connect, to connect faces with nicknames, and agree on a common path we will follow in future development.</p>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br/>
</section>
