<p>From the 22nd to 26th of March, members of the <a href="https://community.kde.org/Goals/Privacy_Software">KDE Privacy</a> team met up in Leipzig, Germany, for our Spring 2019 sprint.</p>

<p>During the sprint, we floated a lot of different ideas that sparked plenty of discussions. The notion of privacy encompasses a wide range of topics, technologies and methods, so it is often difficult to decide what to focus on. However, all the aspects we worked on are important. We ended up tackling a variety of issues, and we were confident that our contributions would improve data protection for all users of KDE software.</p>

<p>Both Sandro Knauß and Volker Krause regularly work on KDE's Kontact suite (email, calendar, contacts, etc.), but this time they took on network-related issues. One of the problems is that there were still too many <code>http</code> links (instead of secure <code>https</code> links) within our codebase. This is a threat to users' communication, as <code>http</code> connections - and hence all the messages that travel over them - are unencrypted.</p>

<p>To make it easier for all KDE developers, Sandro and Volker wrote an ECM-injected global unit test. The test gets added to every application and prints out warnings about <code>http</code> links used in your code. Another script tries to update all the links in your codebase to use <code>https</code>, but checks beforehand if the <code>https</code> links would work. For example, sourceforge.org subdomains don't provide a certificate, so the script would ignore those.</p>

<p>Things are further complicated by <code>http</code> links that are used as identifiers in XML documents, and those links cannot be changed. All of the above exceptions and niche cases are the reason a simple search-and-replace would not work.</p>

<p>When the script ran, many of the links it found were updates of user-facing links that a normal capable browser would "fix" on the fly. However, it also found privacy leaks, as some links were routed through URL shorteners and pastebin services, as well as to default download locations.</p>

<p>Another thing we identified is that the KDE mirror network was still using <code>http</code> at the time, and the underlying software was not ready to work with <code>https</code>. This meant there was still some work we needed to carry out to make <a href="http://mirrorbrain.org ">mirrorbrain</a> capable of using <code>https</code>. The website needed a valid certificate, too.</p>

<p>Meanwhile, Ivan Čukić and David Edmundson worked on improving Plasma Vault, KDE's solution for encrypting folders. The aim was to fix the issues that used to arise when other KDE software components interact with vaults. They made several major improvements: </p>

<ul>
<li>vaults can now be opened and closed directly from <a href="https://userbase.kde.org/Dolphin">Dolphin</a>;</li> 
<li>offline vaults force the network to be disconnected as soon as the password entry dialogue is shown;</li>  
<li>and thumbnails are not generated for files in FUSE-encrypted directories unless the thumbnail cache is located in the same encrypted mount.</li>
</ul>  

<p>David and Ivan also spent some time on <a href="https://utils.kde.org/projects/kwalletmanager/">KWallet</a>, KDE's password manager. In a breakout session, David investigated how to handle KWallet sandboxing, and Ivan explored the possibility of doing elliptic-curve encrypted inter-process communication, which could be useful for handling passwords with KWallet.</p>

<p>Florian Müller looked into using the <a href="https://www.torproject.org/">Tor Browser</a> as the default browser in Plasma. He found that it was mostly blocked, as Tor Browser is started with <code>--no-remote</code>, which made it impossible to trigger new tabs from the outside. To solve the problem, Florian filed a patch against <code>torbrowser-launcher</code>. </p>

<p>The integration of Tor would go way beyond just using the browser, though. In fact, the team wanted all applications to be able to use Tor. To see if this was possible, we picked some applications and worked on configuring their proxy settings. During the testing, we used a <code>.onion</code> address to make sure that data was correctly sent via the Tor network.</p>

<p>On Monday morning, Jos van den Oever presented a proof-of-concept privacy proxy. The proxy is run by the user, and it intercepts all web traffic, storing it in a local archive. This proxy would make it possible to revisit parts of the Web even without an Internet connection. Additionally, the proxy would be able to block unwanted content by defining filters.</p>

<p>The presentation was followed by a discussion on how to use such a proxy in KDE software in a user-friendly manner. Jos himself had been using his own proxy privately for a few years, but the code needed to be cleaned up and updated to the current version of Rust libraries before it could be released.</p>

<p>Then again, working for the future is what the Privacy team does most of the time. Gradually, most or all these features (and quite a few more) would make their way into Plasma Desktop and Plasma Mobile, making your desktop and mobile devices a safe environment against data leaks and snooping without sacrificing functionality.</p>
